.map-container {
  height: 100vh;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.customSlider-track {
  background: #ddd;
}

.customSlider-thumb {
  cursor: pointer;
  background: #A6C11F;
  width: 20px;
  height: 20px;
  border-radius: 88%;
  outline: none;
  outline: none;
}

.mapboxgl-popup{
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-control-container{
  display: none;
}